:root {
  --color-primary: rgb(0, 0, 0);
  --color-text: --color-primary;
  --color-link: --color-primary;
}

html {
  height: 100%;
}

body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: var(--color-text);
}

body::-webkit-scrollbar { 
  width: 0 !important 
}

a {
  color: var(--color-link);
}

img {
  width: 100%;
  height: auto;
}
