:root {
  --font-primary: 'proxima-nova-condensed', 'helvetica', 'sans-serif';
  --font-secondary: 'proxima-nova-extra-condensed', 'helvetica', 'sans-serif';

  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-xs: calc(1em / var(--text-scale-ratio) / var(--text-scale-ratio));
  --text-s: calc(1em / var(--text-scale-ratio));
  --text-m: calc(1em * var(--text-scale-ratio));
  --text-l: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  @media ( orientation: landscape ) {
    --text-base-size: 1.05vw;
  }

  --heading-line-height: 1.2;

  --space-xs: 0.375em;
  --space-s: 0.5em;
  --space-m: 1.25em;
  --space-l: 2em;
  --space-xl: 3.25em;
  --space-xl: 5.25em;
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
}

.site__logo {
  font-family: var(--font-secondary);
  font-size: var(--text-xxl);
  text-transform: uppercase;
}

.site__nav {

  .menu-item {
    font-family: var(--font-secondary);
    font-size: var(--text-m);
    writing-mode: vertical-rl;
    text-transform: uppercase;

    @media ( orientation: landscape ) {
      writing-mode: unset;
    }
  }
}

.content {

  .content__data:first-of-type {
    line-height: calc( var(--row) * 2);
  }

  .content__data:not(:first-of-type) {
    font-size: var(--text-s);
    line-height: calc( var(--row) * 1.75);
  }

  .content__title {
    font-style: italic;
  }

  .content__date {
    font-size: var(--text-s);
    font-weight: 700;
  }
}

.article-title {
  font-family: var(--font-secondary);
  font-size: var(--text-m);
  font-weight: 700;
  margin-bottom: var(--space-xs);
}

.work-wrapper {

  .content__data {
    
    .content__title {
      font-size: var(--text-l);
      font-weight: 700;
      font-style: italic;
    }
  
    .content__year {
      font-size: var(--text-l);
    }

    .content__material {
      font-size: var(--text-s);
    }
  }
}

.single-format-image {
  
  .work__info {
    font-size: var(--text-l);
  }
}

.work-nav {
  font-family: var(--font-secondary);
  font-size: var(--text-m);
  font-weight: 700;
  text-transform: uppercase;
}

.content-list--texts {

  .content__link {
    @media ( orientation: landscape ) {
      font-size: var(--text-m);
    }
  }
}