// ==========
// TEXTS PAGE

.site.post-type-archive-texts {

  .content-list--texts {
    @media ( orientation: landscape ) {
      display: flex;
      flex-direction: column;
      width: var(--col-11);
      top: 22vh;
      padding-top: 0;
      margin-right: 0;
      margin-left: var(--offset);
      height: inherit;
    }
    .content--texts {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin: 0;
      margin-top: var(--space-s);
      
      @media ( orientation: landscape ) {
        width: 100%;
        padding: 0;
      }
    
      .content__link {
        display: inline-block;
        width: 100%;
  
        @media ( orientation: landscape ) {
          padding: 0;
          // width: auto;
        }
      }
      
      .content__date {
        margin-left: var(--space-s);
        align-self: flex-end;
  
        @media ( orientation: landscape ) {
          padding: 0;
          align-self: unset;
        }
      }
      
    }
  }

}