:root {
  
  // Horizontal spacing
  --column: 8.25vw;
  --gutter: 6.8vw;
  --col-2: calc( var(--column) * 2 + var(--gutter) );
  --col-3: calc( var(--column) * 3 + var(--gutter) * 2 );
  --col-4: calc( var(--column) * 4 + var(--gutter) * 3 );
  --col-5: calc( var(--column) * 5 + var(--gutter) * 4 );
  --col-6: calc( var(--column) * 6 + var(--gutter) * 5 );

  // Vertical spacing
  --space-unit: calc( 1em / 2);
  --space-xs:  calc( var(--space-unit) * 1 );
  --space-s:   calc( var(--space-unit) * 2 );
  --space-m:   calc( var(--space-unit) * 3 );
  --space-l:   calc( var(--space-unit) * 4 );
  --space-xl:  calc( var(--space-unit) * 6 );
  --space-xxl: calc( var(--space-unit) * 14);
}

.site {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--column) auto;

  .site__header {
    position: fixed;
    width: inherit;
    margin-top: var(--space-m);
    padding-left: var(--column);
  }

  .site__main {
    height: inherit;
    padding-left: var(--column);
    padding-right: var(--column);
    overflow-y: auto;  
    overflow-x: visible;
    scrollbar-width: none;

    .content-list, 
    .article,
    .page,
    .work,
    .work-wrapper {
      padding-top: var(--space-xxl);
    }

    // Gallery Single
    .work-wrapper {

      .work__gallery-wrapper {
        margin-top: var(--space-l);
        margin-bottom: var(--space-l);
      }
    }

    .content-list,
    .work {
      margin-left: var(--gutter);
    }

    // Texts CPT
    .content-list--texts {
      margin-left: 0;
    }
    
    .content--texts {
      flex-direction: row;
      align-items: baseline;

      .content__link {
        display: inline-block;
        width: 100%;
      }
      
      .content__date {
        margin-left: var(--space-s);
        align-self: flex-end;
      }
      
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  .content__image-container--portrait,
  .work__image-container--portrait {
    width: var(--col-5);
  }

  .content__image-container--landscape,
  .work__image-container--landscape {
    width: calc( var(--col-5) + var(--column) );
  }

  .content__info {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-l);
  }

  .content__info--portrait {
    align-self: flex-end;
    text-align: right;
  }
  
  .content__info--landscape {
    align-self: flex-start;
    text-align: left;
  }
}

.sketches {
  margin-bottom: calc( var(--row) * 6 );
}

.article {
  margin-right: var(--column);
}

.work-wrapper {
  display: flex;
  flex-direction: column;

  .work__info {
    text-align: right;
    width: calc( var(--column) * 4 + var(--gutter) *  4 );
    align-self: flex-end;

    .content__data:not(:last-child) {
      margin-bottom: var(--space-xs);
    }
  }

  .work__gallery-wrapper {
    display: flex;
    flex-direction: column;
  }

}

.site.single-format-gallery,
.site.single-format-image {

  .site__nav li {
    transform: translateX( calc( var(--column) + 100% ));
  }

  .site__main {
    padding-left: 0;
  }
}

.site.single-format-image {
  .site__main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    article {
      margin-top: calc( var(--row) * 5);
      width: 100%;
    }
  }
}