:root {
  --column: 8.25vw;
  --gutter: 6.8vw;
  --row: 8px;

  --space-unit: calc( 1em / 2);
  --space-xs: calc(1 * var(--space-unit));
  --space-s: calc(2 * var(--space-unit));
  --space-m: calc(3 * var(--space-unit));
  --space-l: calc(4 * var(--space-unit));
  --space-xl: calc(6 * var(--space-unit));
  --space-xxl: calc(14 * var(--space-unit));
}

.site {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--column) auto;
  // grid-column-gap: var(--gutter);

  .site__header {
    position: fixed;
    width: inherit;
    margin-top: var(--space-m);
    padding-left: var(--column);
  }

  .site__main {
    height: inherit;
    padding-left: var(--column);
    padding-right: var(--column);
    overflow-y: auto;  
    overflow-x: visible;
    scrollbar-width: none;

    .content-list, 
    .article,
    .page,
    .work,
    .work-wrapper {
      padding-top: var(--space-xxl);
      // margin-bottom: calc( var(--row) * 4 );
    }

    // Gallery Single
    .work-wrapper {
      // margin-bottom: calc( var(--row) * 8 );

      .work__gallery-wrapper {
        // margin-top: calc( var(--row) * 2 );
        margin-top: var(--space-l);
        margin-bottom: var(--space-l);
      }
    }

    .content-list,
    .work {
      margin-left: var(--gutter);
    }

    // Texts CPT
    .content-list--texts {
      margin-left: 0;
    }
    
    .content--texts {
      flex-direction: row;
      align-items: baseline;

      .content__link {
        display: inline-block;
        width: 100%;
      }
      
      .content__date {
        margin-left: var(--space-s);
        align-self: flex-end;
      }
      
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  .content__image-container--portrait,
  .work__image-container--portrait {
    width: calc( var(--column) * 5 + var(--gutter) * 4);
  }

  .content__image-container--landscape,
  .work__image-container--landscape {
    width: calc( var(--column) * 6 + var(--gutter) * 4);
  }

  .content__info {
    margin-top: var(--space-xs);
    margin-bottom: var(--space-l);
  }

  .content__info--portrait {
    align-self: flex-end;
    text-align: right;
    // margin-right: var(--column);
  }
  
  .content__info--landscape {
    align-self: flex-start;
    text-align: left;
  }
}

.sketches {
  margin-bottom: calc( var(--row) * 6 );
}

.content__image-container--portrait {
  width: calc( var(--column) * 5 + var(--gutter) * 4);
}

.content__image-container--landscape {
  width: calc( var(--column) * 6 + var(--gutter) * 4);
}

.list-separator {
  content: '';
  display: block;
  width: calc(100% + var(--column));
  height: 1px;
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  background-color: black;
}

.bullet-container {
  padding-bottom: calc(var(--text-base-size) / 5);
  margin-right: calc(var(--text-base-size) / 2);
  margin-left: calc(var(--text-base-size) / 4);
}

.bullet {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

.article {
  margin-right: var(--column);
}



.work-wrapper {
  display: flex;
  flex-direction: column;

  .work__info {
    text-align: right;
    width: calc( var(--column) * 4 + var(--gutter) *  4 );
    align-self: flex-end;

    .content__data:not(:last-child) {
      margin-bottom: var(--space-xs);
    }
  }

  .work__gallery-wrapper {
    display: flex;
    flex-direction: column;
  }

}

.site.single-format-gallery,
.site.single-format-image {

  .site__nav li {
    transform: translateX( calc( var(--column) + 100% ));
  }

  .site__main {
    padding-left: 0;
  }
}

.site.single-format-image {
  .site__main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    article {
      margin-top: calc( var(--row) * 5);
      width: 100%;
    }
  }
}


svg {
  display: none;
}