:root {
  // Horizontal spacing
  --column: 8.25vw;
  --gutter: 6.8vw;
  --offset: --column;

  @media ( orientation: landscape ) {
    --column: 2.44vw;
    --gutter: 1.30vw;
    --offset: 5.06vw;
  }

  --col-2: calc( var(--column) * 2 + var(--gutter) );
  --col-3: calc( var(--column) * 3 + var(--gutter) * 2 );
  --col-4: calc( var(--column) * 4 + var(--gutter) * 3 );
  --col-5: calc( var(--column) * 5 + var(--gutter) * 4 );
  --col-6: calc( var(--column) * 6 + var(--gutter) * 5 );

  // Vertical spacing
  --space-unit: calc( 1em / 2);
  --space-xs:  calc( var(--space-unit) * 1 );
  --space-s:   calc( var(--space-unit) * 2 );
  --space-m:   calc( var(--space-unit) * 3 );
  --space-l:   calc( var(--space-unit) * 4 );
  --space-xl:  calc( var(--space-unit) * 6 );
  --space-xxl: calc( var(--space-unit) * 14);
}

.site {
  height: 100%;

  .site__header {
    position: fixed;
    width: inherit;
    margin-top: var(--space-m);
    padding-left: var(--column);
    z-index: 2;

    @media ( orientation: landscape ) {
      bottom: unset;
      margin-top: var(--space-xl);
      margin-left: var(--offset);
      padding-left: 0;
    }
  }

  .site__main {
    height: inherit;
    padding-left: var(--column);
    scrollbar-width: none;

    @media ( orientation: landscape ) {
      position:fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 0;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .content-list, 
    .article,
    .page,
    .work,
    .work-wrapper {
      padding-top: var(--space-xxl);
    }

    .content-list {
      margin-left: var(--gutter);

      @media ( orientation: landscape ) {
        align-items: center;

        position: absolute;
        height: inherit;
        top: 0;
        left: 0;
        margin: 0;
        padding-top: var(--space-m);
        display: flex;
        white-space: nowrap;
        transform: translate3d(0, 0, 0);
        will-change: transform;
      }
    }

    .content-list--texts,
    .page,
    .article {
      margin:  0 var(--column);
      margin-bottom: var(--space-xl);
    }
  }
}

// =======
// CONTENT
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--column);
  margin-bottom: var(--space-l);

  @media ( orientation: landscape ) {
    // display:flex;
    // position: relative;
    // width: 50vw;
    // height: 100%;
    // margin-left: 0;
    // margin-bottom: 0;
    // padding: 30vh 10vh;
    position: relative;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    padding: 30vh 10vh;

  }

  .content__link {
    display: block;
    width: 100%;
    
    @media ( orientation: landscape ) {
      position: relative;
      overflow: hidden;
      // width: calc(50vw - 20vh);
      // height: calc((50vw - 20vh)*21/29.7);
    }

    
  }


  &:hover .content__info {
    @media ( orientation: landscape ) {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .content__info {

    @media ( orientation: landscape ) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      position: absolute;
      transform: translateY(-200%);
      opacity: 0;
      transition: all 0.6s ease;
      z-index: -1;

      &--portrait {
        // margin-right: 10vh;
        // right: 0;
        width: calc(100% - 20vh);
      }

      &--landscape {
        width: calc(100% - 20vh);
      }
    }

    &:hover {
      @media ( orientation: landscape ) {
        transform: translateY(0);
      }
    }
  }

  &--portrait {
    margin-right: var(--column);

    @media ( orientation: landscape ) {
      margin-right: 0;

      .content__link {
        height: calc(60vh);
        width: calc((60vh)*21/29.7);

        .content__image-container {
          height: 100%;
          width: inherit;
    
          img {
            // position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            will-change: transform;
          }
        }
      }

    }

  }

  &--landscape {
    @media ( orientation: landscape ) {
      .content__link {
        width: calc(52vh);
        height: calc((52vh)*21/29.7);

        .content__image-container {
          width: 100%;
          height: inherit;
    
          img {
            // position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            will-change: transform;
          }
        }
      }
    }
  }

  .content__info {
    margin-top: var(--space-xs);
  }


  .content__info--portrait {
    align-self: flex-end;
    text-align: right;
  }
  
  .content__info--landscape {
    align-self: flex-start;
    text-align: left;
  }
}

// ============
// SKETCHES CPT
.sketches {
  margin-bottom: var(--space-xl);
}

// ==========
// TEXTS PAGE
.content--texts {
  flex-direction: row;
  align-items: baseline;
  margin: 0;

  .content__link {
    display: inline-block;
    width: 100%;
  }
  
  .content__date {
    margin-left: var(--space-s);
    align-self: flex-end;
  }
  
}

// ====================
// SINGLE->GALLERY, 
// SINGLE->IMAGE, 
.site.single-format-gallery,
.site.single-format-image {

  .site__main {
    padding-left: 0;
  }

  .work-wrapper{
    display: flex;
    flex-direction: column;
    margin:  0 var(--column);
  }
}

.site.single-format-image .site__main .work-wrapper .work__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ==============
// SINGLE->GALLERY
.site.single-format-gallery {
  
  .work-wrapper {
    
    .work__gallery-wrapper:not(:last-child) {
      margin-bottom: var(--space-l);
    }
  
    .work__info {
      width: var(--col-4);
      margin-bottom: var(--space-l);
      align-self: flex-end;
      text-align: right;
  
      .content__data:not(:last-child) {
        margin-bottom: var(--space-xs);
      }
    }
  }
}


// ====================
// SINGLE->IMAGE, 
.site.single-format-image {

  .site__header {
    transform-origin: left top;
    // transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
  }

  .site__main {
    
    .work-wrapper {
      height: 100%;
      padding: 0;
      justify-content: space-between;

      .work__info {
        margin-top: var(--space-s);
        margin-bottom: var(--space-s);
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .work__title {
          font-style: italic;
          font-weight: 700;
        }
      }

      .work__image-container {
        flex-grow: 2;
      }

    }
  }
}