.site__nav {
  position: relative;
  display: flex;
  padding-left: var(--column);
  height: inherit;
  align-items: flex-end;
  
  .menu-list {
    transform: rotateZ(180deg) translateX(100%);
  }

  .menu-item {
    margin: var(--space-s) 0;
    // Align Hack
    line-height: 10px;
  }
}