.page__content {
  
  p {
    font-size: 18px;
  }

  @media ( orientation: landscape ) {
    position: absolute;
    width: var(--col-11);
    top: 22vh;
    padding-top: 0;
    padding-left: var(--col-3);
    padding-bottom: var(--space-xxl);
    margin: 0;
    margin-right: var(--offset);
    margin-left: var(--offset);
  }

  h2 {
    font-family: var(--font-secondary);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
  }

  table {
    table-layout: fixed;
    font-size: 14px;
    line-height: 1.2;
    border-collapse:separate; 
    border-spacing: 0 calc(var(--space-xs)/2);

    @media ( orientation: landscape ) {
      table, td {
        font-size: 16px;
      }
    }

    tr {

      td {
        // display: block;
        padding-bottom: calc(var(--space-xs) * 0.5);

        // padding-left: calc(var(--gutter) * 0.5);   
      }

      td:first-child {
        font-family: var(--font-secondary);
        font-size: 14px;
        font-weight: bold;
      }
   
   
      td:nth-child(2) {
        padding-left: calc(var(--gutter) * 0.5);
      }
    }
  }


}