// ====================
// SINGLE->GALLERY, 
// SINGLE->IMAGE, 
.site.single-format-gallery,
.site.single-format-image {

  .site__main {
    padding-left: 0;
  }

  .work-wrapper{
    display: flex;
    flex-direction: column;
    margin:  0 var(--column);

    @media ( orientation: landscape ) {
      position: fixed;
    }
  }
}

.site.single-format-image .site__main .work-wrapper .work__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

// ==============
// SINGLE->GALLERY
.site.single-format-gallery {
  
  .work-wrapper {

    @media ( orientation: landscape ) {
      width: inherit;
      height: inherit;
      margin: 0;
      padding: 0;
    }

    .work__gallery {

      @media ( orientation: landscape ) {
        position: absolute;
        height: inherit;
        top: 0;
        left: 0;
        margin: 0;
        padding-top: var(--space-m);
        padding-left: 25vw;
        padding-right: 25vw;
        display: flex;
        will-change: transform;
      }
    }
    
    .work__gallery-wrapper{
      &:not(:last-child) {
        margin-bottom: var(--space-l);
      }

      @media ( orientation: landscape ) {
        position: relative;
        display: block;
        margin-left: 0;
        margin-bottom: 0;
        padding: 17vh 10vh;

        .work__image-container--landscape img {
          height: 65vh;
          width: auto;
        }
        .work__image-container--portrait img {
          height: 65vh;
          width: auto;
        }
      }

      
    }
  
    .work__info {
      width: var(--col-4);
      margin-bottom: var(--space-l);
      align-self: flex-end;
      text-align: right;
  
      .content__data:not(:last-child) {
        margin-bottom: var(--space-xs);
      }
    }
  }
}


// ====================
// SINGLE->IMAGE, 
.site.single-format-image {

  .site__header {
    transform-origin: left top;
    // transform: scale(0.5);
    opacity: 0;
    pointer-events: none;

    @media ( orientation: landscape ) {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .site__main {
    
    @media ( orientation: landscape ) {
      justify-content: center;
    }

    .work-wrapper {
      height: 100%;
      padding: 0;

      @media ( orientation: landscape ) {
        height: unset;
        display: block;
      }

      .work__image-container {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 2;

        @media ( orientation: landscape ) {
          display: initial;
          position: relative;
          img {
            width: auto;
            height: 65vh;
          }
        }

        .work__info {
          position: absolute;
          top: 0;
          margin-top: var(--space-s);
          margin-bottom: var(--space-s);
          display: flex;
          justify-content: space-between;
          width: calc(100% - var(--column) * 2);

          .work__title {
            font-style: italic;
            font-weight: 700;
          }
  
          @media ( orientation: landscape ) {
            width: 100%;
            flex-grow: unset;
          }
        }
      }

      .work-nav {
        margin-top: var(--space-s);
      }

    }
  }
}


.site.single-texts {

  article.article {
    
    @media ( orientation: landscape ) {
      position: absolute;
      width: var(--col-11);
      top: 22vh;
      padding-top: 0;
      padding-left: var(--col-3);
      padding-bottom: var(--space-xxl);
      margin: 0;
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    p {
      margin-bottom: 1rem;
      overflow-wrap: break-word;
    }
  }
} 