// ====
// LOGO

.site__logo a {
  display: flex;
  flex-direction: column;

  span:nth-child(2) {
    margin-left: calc(var(--column) + var(--gutter));
  }
}

// ========
// MAIN NAV

.site__nav {
  position: fixed;
  display: flex;
  padding-left: var(--column);
  bottom: 0;
  overflow: visible;
  
  .menu-list {
    transform: rotateZ(180deg) translateX(100%);
    overflow: visible;
  }

  .menu-item {
    margin: var(--space-s) 0;
    // Align Hack
    line-height: 10px;
  }
}
// =====================
// TEXTS LIST COMPONENTS

.list-separator {
  content: '';
  display: block;
  width: calc(100% + var(--column));
  height: 1px;
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  background-color: black;
}

.bullet-container {
  padding-bottom: calc(var(--text-base-size) / 5);
  margin-right: calc(var(--text-base-size) / 2);
  margin-left: calc(var(--text-base-size) / 4);
}

.bullet {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}


// =====================
// NAV WORK

.work-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-s);
}