// =====================
// TEXTS LIST COMPONENTS

.list-separator {
  content: '';
  display: block;
  width: calc(100% + var(--column));
  height: 1px;
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  background-color: black;
}

.bullet-container {
  padding-bottom: calc(var(--text-base-size) / 5);
  margin-right: calc(var(--text-base-size) / 2);
  margin-left: calc(var(--text-base-size) / 4);
}

.bullet {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}