// =====================
// MAIN NAV

.site__nav {
  position: fixed;
  display: flex;
  padding-left: var(--column);
  bottom: 0;
  z-index: 2;

  @media ( orientation: landscape ) {
    bottom: unset;
    right: 0;
    margin-top: var(--space-xl);
    margin-right: var(--offset);
  }
  
  .menu-list {
    transform: rotateZ(180deg) translateX(100%);

    @media ( orientation: landscape ) {
      display: flex;
      flex-direction: row-reverse;
      transform: unset;
    }
  }

  .menu-item {
    margin: var(--space-s) 0;
    // Align Hack
    line-height: 10px;

    @media ( orientation: landscape ) {
      margin-left: calc( var(--column) + var(--gutter));
    }

    svg {
      transform-origin: center center; 
      transform: rotateZ(90deg) translate(25%, -25%) ;
      
      @media ( orientation: landscape ) {
        transform: initial;
      }
    }
  }
}

// =====================
// SINGLE WORK NAV

.work-nav {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);

  .posts-nav {
    .link__next {
      margin-left: 10px;
    }
  }

  @media ( orientation: landscape ) {
    position: fixed;
    width: var(--col-24);
    flex-direction: row;
    bottom: var(--space-s);
    left: var(--offset);
    
    .posts-nav {
      .link__rotated {
        display: inline-block;
        transform: rotateZ(90deg) translateX(calc(var(--space-s) * -1.25));
        transform-origin: top;
      }

      .link__next {
        display: inline-block;
        margin-left: unset;
        transform: translateX(calc(var(--space-s) * -0.75));
      }
    }
  }

}